WEB-INF/*
settings.xml
.project
.DS_Store
.settings
*.zip
builds/*
build/*



assets/css/style.css
assets/images/controlbar_bg.png
assets/images/controlbar_separator.png
assets/images/max.png
assets/images/media_active_bg.png
assets/images/media_bg_hover.png
assets/images/media_bg.png
assets/images/min.png
assets/images/next_full.png
assets/images/next_plain.png
assets/images/play_plain.png
assets/images/player_bg.png
assets/images/playlist_pause.png
assets/images/playlist_play.png
assets/images/previous_full.png
assets/images/previous_plain.png
assets/images/statusbar_bg.png
assets/js/openMediaPlayer-min.js
assets/js/ttwFullScreenMusic.js